## Task-3

## Question-1

## Create a tuple my_tuple with the values 1, 2, and 3. Print the tuple.

In [1]:
my_tuple=(1,2,3)

In [2]:
print(my_tuple)

(1, 2, 3)

 ## Question-2

## Create a set my_set with the values 1, 2, and 3. Print the set.

In [3]:
my_set={1,2,3}

In [4]:
print(f"The values of { my_set}")

The values of {1, 2, 3}

## Question-3

## Create a dictionary my_dict with keys "apple", "banana", and "cherry" and values 1, 2, and 3. Print thedictionary.

In [5]:
my_dict={'apple':1,'banana':2,'cherry':3,}

In [6]:
print(my_dict)

{'apple': 1, 'banana': 2, 'cherry': 3}

## Question-4

## Use a for loop to print the values in my_tuple one by one.

In [7]:
for i in my_tuple:
    print(i)

1
2
3

## Question-5

## Use a for loop to print the values in my_set one by one.

In [8]:
for i in my_set:
    print(i)

1
2
3

## Question-6


## Use a for loop to print the keys and values in my_dict one by one.

In [9]:
for i in my_dict:
    print(i)

apple
banana
cherry

## Question-7

## Use a while loop to print the numbers from 1 to 10.

In [10]:
i=1

In [11]:
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

## Question-8

## Use a while loop to print the even numbers from 2 to 10.

In [12]:
c=0

In [13]:
while c<10:
    c=c+2
    print(c)

2
4
6
8
10

## Question-9

## Use a while loop to print the squares of the numbers from 1 to 5.

In [16]:
i=1
while i<=5:
    print(i**2)
    i=i+1

1
4
9
16
25

## Question-10

## use a for loop to print the sum of the numbers in my_tuple.

In [17]:
my_tuple=(1,2,3,4,5)
sum=1
for i in my_tuple:
    print(i+sum)

2
3
4
5
6