## Task-3

## Question-1

### Write a function add_numbers that takes two numbers as arguments and returns their sum

In [1]:
def add_numbers (a,b):
    c=a+b
    return c

In [2]:
add_numbers(4,5)

9

## Question-2

### Write a function multiply_numbers that takes two numbers as arguments and returns their product

In [3]:
def multiply_numbers(a,b):
    c=a*b
    return c

In [4]:
multiply_numbers(4,5)

20

## Question-3

### Write a function divide_numbers that takes two numbers as arguments and returns their quotient. Makesure to handle the case where the second number is 0.

In [5]:
def divide_numbers (a,b):
      if b==0:
        return 
      else:
            return a/b

In [6]:
print(divide_numbers(10,2))

5.0

In [7]:
print(divide_numbers(2,0))           #cannot divide by 0

None

## Question-4

### Write a function calculate_average that takes a list of numbers as an argument and returns their average.

In [8]:
pradeep=(1,2,3,4,5,6,7,8)
def calculate_average(pradeep):
    return sum(pradeep)/len(pradeep)

In [9]:
len(pradeep)

8

In [10]:
calculate_average(pradeep)

4.5

## Question-5

### Write a function is_prime that takes a number as an argument and returns True if the number is prime andFalse otherwise.

In [11]:
def is_prime(number):
    if number < 2:
        return false
    else:
        for i in range(2,number):
            if number % i == 0:
                return false
        return True

In [12]:
is_prime(5)

True

## oops

## Question-1

## Create a class Bank with attributes name and accounts. Add methods add_account, remove_account,and get_total_balance that add an account to the list, remove an account from the list, and return the totalbalance of all accounts, respectively.

In [49]:
class Bank:
    def __init__(self, name):
        self.name = name
        self.accounts = []

    def add_account(self, account):
        self.accounts.append(account)

    def remove_account(self, account):
        self.accounts.remove(account)

    def get_total_balance(self):
        total_balance = 0
        for account in self.accounts:
            total_balance += account.balance
        return total_balance

In [50]:
class Account:
    def __init__(self, balance):
        self.balance = balance

In [51]:

bank = Bank("My Bank")
account1 = Account(1000)
account2 = Account(2000)
account3 = Account(3000)
bank.add_account(account1)
bank.add_account(account2)
bank.add_account(account3)

In [52]:
total_balance = bank.get_total_balance()
print("Total Balance:", total_balance)

Total Balance: 6000

In [53]:

bank.remove_account(account2)
total_balance = bank.get_total_balance()
print("Updated Total Balance:", total_balance)

Updated Total Balance: 4000